body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather',sans-serif;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento',cursive;


    
}
h2{
    font-family: 'Montserrat', sans-serif;
    background-color:beige;
}
h3{
    font-family: 'Montserrat', sans-serif;
    
    
}
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding: 100px;

}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    

}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 400px;
}

.picpic{
    border-radius: 50%;
    
}
 
.cook{
    border-radius: 50%;
}

.basketball{
    border-radius: 50%;
}






    

